* {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --bg-primary-image: url("../images/bg-light.png");
    --color-secondary: 245, 192, 117;
    --color-primary: 33, 35, 55;
    --color-theme: 243, 243, 243;
    --color-placeholder: 126, 126, 126;
    --color-theme-light: 230, 230, 230;
    --font-serif: "DM Serif Display";
    --font-sans-serif: "Segoe UI";
}

body.dark-mode {
    --bg-primary-image: url("../images/bg-dark.png");
    --color-primary: 255, 255, 255;
    --color-theme: 33, 35, 55;
    --color-secondary: 255, 178, 70;
    --color-theme-light: 41, 45, 70;
    --color-placeholder: 61, 65, 110;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans-serif);
    max-width: 100vw;
    background-image: var(--bg-primary-image);
    background-color: rgb(var(--color-theme));
    background-attachment: fixed;
    padding: 2.5rem 3rem;
    padding-bottom: 0;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #fcfcfc;
    border-radius: 100vh;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 100vh;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}


/* common */

.bold-text {
    font-weight: 500;
}

.text-primary {
    color: rgb(var(--color-primary)) !important;
}

.text-secondary {
    color: rgb(var(--color-secondary)) !important;
}

.font-serif {
    font-family: var(--font-serif) !important;
}

.divider {
    height: 1px;
    width: 100%;
    background: rgb(var(--color-primary));
}

.capitalize {
    text-transform: uppercase;
}

.btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    background-color: rgb(var(--color-secondary));
    transition: 150ms ease-in-out;
}

.btn-secondary:hover {
    background: rgb(var(--color-theme));
    color: var(--color-primary);
    border: 2px solid rgb(var(--color-secondary));
}

.btn-secondary-outline {
    padding: 0.25em 0.5em;
    border: 2px solid rgb(var(--color-secondary));
    background-color: rgb(var(--color-theme-light));
    color: rgb(var(--color-primary));
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: 150ms ease-in-out;
}

.btn-secondary-outline-active,
.btn-secondary-outline:hover {
    background-color: rgb(var(--color-secondary));
}

.align-end {
    align-items: end;
}

.button-primary {
    border: 0;
    padding: 0.75rem 1.25rem;
    background-color: rgb(var(--color-theme));
    color: rgb(var(--color-primary));
    font-family: var(--font-sans-serif);
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 #31313138;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.button-primary:hover {
    background-color: rgb(var(--color-secondary));
}

.link-call-to-action {
    transition: 150ms ease-in-out;
}

.link-call-to-action:hover {
    color: rgb(var(--color-secondary));
}


/* specific */

.header-scroll {
    background-color: rgba(var(--color-theme), 0.9);
    /* box-shadow: 0 3px 6px 0 #2a2a2a2a; */
    backdrop-filter: blur(10px);
}

.header {
    min-height: fit-content;
    position: relative;
    width: 100%;
    top: 0;
    min-height: 70px;
    display: grid;
    place-items: center start;
    left: 0;
    padding: 0 3rem;
}

.header__nav {
    position: absolute;
    background: rgba(var(--color-theme), 0.9);
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: grid;
    place-items: center;
    transform: translateY(-100%) scale(1, 0);
    transform-origin: top;
    transition: all 150ms ease-in-out;
    opacity: 0;
}

.header__nav-active {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
}

.mobile-nav__nav-toggler {
    width: 35px;
    height: 30px;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 3rem;
    z-index: 1000;
}

.nav-toggler__icon {
    width: 100%;
    background: rgb(var(--color-primary));
    height: 3px;
    display: block;
    border-radius: inherit;
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav-toggler__icon::after,
.nav-toggler__icon::before {
    width: 100%;
    height: inherit;
    background: rgb(var(--color-primary));
    content: "";
    left: 0;
    border-radius: inherit;
    transition: all 150ms ease-in-out;
    position: absolute;
}

.nav-toggler__icon::after {
    top: 10px;
}

.nav-toggler__icon::before {
    bottom: 10px;
}

.nav-toggler__icon-active {
    transform: rotateZ(45deg);
}

.nav-toggler__icon-active::after {
    opacity: 0;
}

.nav-toggler__icon-active::before {
    top: 0;
    transform: rotateZ(-90deg);
}

.header__logo {
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.nav__nav-list {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
}

.nav-list__nav-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    font-size: 2.5rem;
    border-radius: 100vh;
    transition: all 150ms ease-in-out;
}

.nav-list__nav-link:hover,
.nav-list__nav-link-active {
    background-color: rgb(var(--color-secondary));
    color: rgb(var(--color-theme));
}

.logo__icon,
.logo__text {
    font-size: 1.75rem;
}

.nav-list__nav-item-toggler {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggler__btn {
    width: 2.75rem;
    display: block;
    height: 1.5rem;
    border-radius: 100vh;
    background-color: #e6e6e6;
    position: relative;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.toggler__btn::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 100%;
    background-color: white;
    border-radius: inherit;
    transform: scale(0.8);
    box-shadow: 0 0 6px 0 #2a2a2a9d;
    left: 0;
}

.toggler__btn-active {
    background-color: #4cd964;
    transition: all 150ms ease-in-out;
}

.toggler__btn-active::after {
    transition: all 150ms ease-in-out;
    left: calc(100% - 1.5rem);
}

.toggler__icon {
    color: rgb(var(--color-primary));
}

.section-title {
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-tagline {
    font-weight: 600;
}


/* main */

main {
    height: 89vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.main__hero {
    text-align: center;
}

.hero__tagline {
    font-weight: 600;
    font-size: 1.2rem;
}

.hero__title {
    letter-spacing: 2px;
    font-size: 3rem;
}

.hero__sub-text {
    font-size: 1.35rem;
    font-weight: lighter;
}

.figure-hero__img-container {
    width: 290px;
    height: 290px;
    border-radius: 50%;
}

.figure-hero__img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.sm-d-none {
    display: none;
}

.about {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    background-color: rgba(var(--color-theme-light), 0.7);
    box-shadow: 0 0px 6px 0 #2a2a2a3a;
    border-radius: 32px;
    color: rgb(var(--color-primary));
}

.about__heading {
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.85rem;
    text-transform: uppercase;
    border-radius: 32px 32px 0 0;
    background-color: rgb(var(--color-secondary));
}

.about-content__about-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 1.5rem;
    text-align: center;
}

.about-text-answer__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.answer__item {
    font-size: 1.2rem;
}

.about-text-answer__list>li::before {
    content: "";
    background-color: rgb(var(--color-secondary));
    font-weight: bold;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 10px;
}

.projects {
    margin-top: 10rem;
    color: rgb(var(--color-primary));
}

.project__project-category-list {
    display: flex;
    max-width: 100vw;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 0.75rem 0;
}

.project-list-item__btn {
    font-size: 1.2rem;
    width: max-content;
    border-radius: 5px;
}

.project__list {
    display: flex;
    gap: 2rem;
    max-width: 100vw;
    overflow-x: auto;
    padding: 1rem 0;
}

.project__item {
    max-width: 450px;
    min-width: 24em;
    min-height: 500px;
    background-color: rgb(var(--color-theme-light), 0.7);
    border-bottom: 2px solid rgb(var(--color-secondary));
}

.project__image-container {
    width: 100%;
    height: 350px;
}

.project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__info {
    padding: 2rem;
    display: grid;
    gap: 0.5rem;
}

.project__call-to-action {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-call-to-action {
    font-size: 1.2rem;
    padding: 0.25rem;
    width: 2em;
    height: 2em;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: #2a2a2a;
    box-shadow: 0 0 6px 0 #61616154;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn-call-to-action:hover {
    background: rgb(var(--color-secondary));
    color: white;
}

.testimonials {
    margin-top: 10rem;
}

.testimonial__list {
    padding: 3em 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
}

.testimonial__item {
    border: 2px solid rgb(var(--color-secondary));
    background: rgba(var(--color-theme-light), 0.7);
    max-width: 500px;
    padding: 4em 1.5em;
    min-width: 24em;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 5px;
}

.testimonial__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial__user {
    text-align: center;
}

.testimonial__image-container {
    --dim: 75px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 50%;
}

.testimonial_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial__description {
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-style: italic;
    position: relative;
    z-index: 2;
}

.testimonial__message {
    position: relative;
}

.testimonial__message::before {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: -40px;
    font-size: 12rem;
    color: rgb(var(--color-theme));
    z-index: 0;
}

.contact {
    margin-top: 10rem;
}

.contact__section {
    padding: 3rem 2rem;
    background-color: rgb(var(--color-theme-light));
    border-radius: 10px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__label {
    font-size: 1.05rem;
    letter-spacing: 1px;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact__input-form {
    padding: 0.75rem 0.5rem;
    border: 0;
    background-color: rgb(var(--color-theme));
    color: rgb(var(--color-primary));
    border-radius: 2px;
    font-family: var(--font-sans-serif);
}

.contact__input-form::placeholder {
    color: rgb(var(--color-placeholder));
}

.textarea {
    resize: none;
}

.contact__input-form:focus {
    outline: none;
}

.contact {
    margin-bottom: 4rem;
}

.footer {
    padding: 7rem 0;
    background-color: rgb(var(--color-theme-light));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer__heading {
    text-align: center;
}

.footer__bottom {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    body {
        overflow-y: auto;
    }
    .header {
        padding: 0 6rem;
    }
    .header__mobile-nav {
        display: none;
    }
    .header__nav {
        position: static;
        background: transparent;
        width: fit-content;
        height: fit-content;
        transform: translateY(0) scale(1, 1);
        opacity: 1;
        background: transparent;
        backdrop-filter: blur(0);
    }
    .divider {
        transform: scale(0);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__nav-list {
        flex-direction: row;
        gap: 1.25rem;
    }
    .nav-list__nav-link {
        font-size: 1rem;
    }
    main {
        flex-direction: row;
        justify-content: space-between;
    }
    .main__hero {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }
    .hero__tagline {
        font-size: 1.75rem;
    }
    .hero__title {
        font-size: 4.2rem;
    }
    .hero__sub-text {
        font-size: 1.75rem;
    }
    .figure-hero__img-container {
        width: 615px;
        height: 615px;
    }
    .sm-d-none {
        display: block;
    }
    .about__about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }
    .about-content__img-container {
        width: 670px;
        height: 480px;
    }
    .about-content__img-container>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-text__title {
        font-size: 1.5rem;
    }
    .about-content__about-text {
        text-align: left;
    }
    .about-text-answer__list {
        gap: 4rem;
    }
    .testimonial__header {
        flex-direction: row;
    }
    .testimonial__user {
        text-align: left;
    }
    .contact__section {
        padding: 6rem 6rem;
        display: flex;
        justify-content: space-between;
    }
    .contact__image-container {
        width: 100%;
        height: 480px;
        display: grid;
        place-items: center;
    }
    .contact__image {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .contact__form {
        width: 100%;
    }
    .footer__bottom {
        padding: 0 6rem;
    }
}

@media screen and (min-width: 1800px) {
    body {
        padding: 2.5rem 8rem;
    }
    .hero__title {
        max-width: 100%;
        font-size: 7rem;
    }
}